@import url("/content/css/root.css");
:root {
  --blue: #21d1f5;
  --green: #3bd1c8;
  --white: #fff;
  --darkgray: #1e1f29;
  --lightgray: #e4e7ed;
  --grey: #e8f0f2;
}
.list__container {
  width: 70%;
  margin: 150px auto;
  background-color: #f8f9ff;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.list__heading {
  font-weight: bold;
  font-size: 20px;
  display: inline;
  /* margin-top: 30px; */
  /* text-align: center; */
}
.list_product {
  width: 75%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  /* border-color: gray; */
}
thead {
  /* background-image: linear-gradient(90deg, var(--blue), var(--green)); */

  background-image: linear-gradient(90deg, var(--blue), var(--green));
  color: #fff;
  font-weight: bold;
  /* color: black */
}
tr {
  text-align: center;
}
th,
td {
  padding: 8px 15px;
  border: none;
  border: 1px solid rgb(226, 226, 226);
}
.hinh > img {
  width: 100%;
}
td:first-child {
  width: 5%;
}
td:last-child {
  width: 15%;
}
.hinh {
  width: 15%;
}
.hinh img {
  width: 100%;
}
/* .list__action--container{
    text-align: start;
} */
.list__action {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.list__action > a > button {
  width: 5rem;
  background-color: #fff;
  /* background-image: linear-gradient(90deg, var(--blue), var(--green)); */
  padding: 5px 10px;
  /* transition: all 0.25s linear; */
}
.list__action > a > button:hover {
  background-image: linear-gradient(90deg, var(--blue), var(--green));
  color: #fff;
}
.list__action > button {
  width: 5rem;
  background-color: #fff;
  /* background-image: linear-gradient(90deg, var(--blue), var(--green)); */
  padding: 5px 10px;
  /* transition: all 0.25s linear; */
}
.list__action > button:hover {
  background-image: linear-gradient(90deg, var(--blue), var(--green));
  color: #fff;
}
.admin_btn {
  padding: 3px 8px;
  background-color: #fff;
  margin-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 3px;
  /* transition: all 0.1s linear; */
  margin-top: 5px;
}
.admin_btn:hover {
  background-image: linear-gradient(90deg, var(--blue), var(--green));
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bill__detail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bill__container {
  width: 40rem;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
}
.bill__container > h2 {
  text-align: center;
}
.bill__container > p {
  text-align: start;
}
.bill__container > p > span {
  font-weight: bold;
}
